name: Build MK VIP
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Buildozer Action
        uses: ArtemShatem/buildozer-action@v1.2
        with:
          workdir: .
          buildozer_version: master
